body {
    height: 100vh;
    margin: 0;
    background-color: #1C1C1E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #DAD7CD;
}

.calculator-body {
    height: 600px;
    width: 400px;
    border: 6px solid #E53D00;
    border-radius: 15px;
    text-align: center;
}